<% if @current.name %>
  <h1>
    <%= link_to '<', content_path(@current.parent.path) %>
    <%= @current.name %>
  </h1>
<% else %>
  <h1> COUCOU AÏM </h1>
  <h2> Enjoy your audiobooks </h2>
<% end %>

<ul>
  <% @current.directories.each do |dir| %>
    <li><%= link_to dir.name, content_path(dir.path) %></li>
  <% end %>
  <% @current.audios.each do |audio| %>
    <li>
      <h3><%= audio.name %></h3>
      <audio id=<%= audio.name.dasherize %> controls className="player" preload="false">
        <source src=<%= stream_path(path: audio.path) %> type="audio/mp3"/>
      </audio>
    </li>
  <% end %>
</ul>
