<% if @current.name %>
  <h1>
    <%= link_to '<', root_path %>
    <%= @current.name %>
  </h1>
<% else %>
  <h1> COUCOU AÏM </h1>
  <h2> Enjoy your audiobooks </h2>
<% end %>

<ul>
  <% @current.directories.each do |dir| %>
    <li><%= link_to dir.name, content_path(dir.path) %></li>
  <% end %>
  <% @current.files.each do |audio| %>
    <li>
      <h3><%= audio.name %></h3>
      <audio id="<%= audio.name %>" controls>
        <source src="<%= stream_path(path: audio.path) %>"></source>
      </audio>
    </li>
  <% end %>
</ul>
